<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyValuate</title>
    <meta charset="utf-8">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
  </head>
  <body>
    {% include 'edit_cowsay.html' %}
  </body>
</html>